@{
    ViewData["Title"] = "地圖";
}

@section Styles {
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Material+Icons" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@@mdi/font@5.x/css/materialdesignicons.min.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vuetify@3.6.14/dist/vuetify.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vuetify@3.6.14/dist/vuetify-labs.css" />
    <style>
        #map {
            height: 768px;
            width: 100%;
        }

        .v-card-title {
            font-size: 1rem;
            font-weight: bold;
            white-space: normal;
        }

        .v-card-subtitle {
            white-space: normal;
        }

        .v-virtual-scroll__item {
            padding-top: 3px;
            padding-bottom: 3px;
        }

        .search {
            padding-bottom: 0px;
        }
    </style>
}

<div class="row">
    <div class="col-md-9">
        <div id="map"></div>
    </div>
    <div class="col-md-3">
        <div id="app">
            <v-row>
                <v-col class="search">
                    <v-form @@submit.prevent
                            v-on:submit="searching">
                        <v-text-field id="search"
                                      append-inner-icon="mdi-magnify"
                                      density="comfortable"
                                      variant="solo"
                                      single-line
                                      hide-details
                                      clearable
                                      label="請輸入地點名稱"
                                      v-model="text"
                                      v-on:click:append-inner="searching">
                        </v-text-field>
                    </v-form>
                </v-col>
            </v-row>
            <v-row>
                <v-col>
                    <v-tabs v-model="tab" grow>
                        <v-tab prepend-icon="mdi-map-search-outline" value="search-result">搜尋結果</v-tab>
                        <v-tab prepend-icon="mdi-playlist-check" value="selected">已選地點</v-tab>
                    </v-tabs>

                    <v-tabs-window v-model="tab">
                        <v-tabs-window-item value="search-result">
                            <v-card flat>
                                <v-virtual-scroll :items="list" :height="660">
                                    <template v-slot:default="{ item }">
                                        <v-card variant="tonal">
                                            <v-row>
                                                <v-col cols="9">
                                                    <v-card-item @@click="onPlaceClicked(item)">
                                                        <v-card-title>{{item.displayName}}</v-card-title>
                                                        <v-card-subtitle>{{item.address}}</v-card-subtitle>
                                                    </v-card-item>
                                                </v-col>
                                                <v-col cols="3">
                                                    <v-card-actions>
                                                        <v-btn icon="mdi-plus" variant="elevated" size="small"></v-btn>
                                                    </v-card-actions>
                                                </v-col>
                                            </v-row>

                                        </v-card>
                                    </template>
                                </v-virtual-scroll>
                            </v-card>
                        </v-tabs-window-item>
                        <v-tabs-window-item value="selected">
                            <v-card flat>
                                <v-virtual-scroll :items="selectedList" :height="660">
                                    <template v-slot:default="{ item }">
                                        <v-card variant="tonal">
                                            <v-row>
                                                <v-col cols="9">
                                                    <v-card-item @@click="onPlaceClicked(item)">
                                                        <v-card-title>{{item.displayName}}</v-card-title>
                                                        <v-card-subtitle>{{item.address}}</v-card-subtitle>
                                                    </v-card-item>
                                                </v-col>
                                                <v-col cols="3">
                                                    <v-card-actions>
                                                        <v-btn icon="mdi-cancel" variant="elevated" size="small"></v-btn>
                                                    </v-card-actions>
                                                </v-col>
                                            </v-row>

                                        </v-card>
                                    </template>
                                </v-virtual-scroll>
                            </v-card>
                        </v-tabs-window-item>
                    </v-tabs-window>
                </v-col>
            </v-row>
        </div>
    </div>
</div>

@section Scripts {
    <script src="https://cdn.jsdelivr.net/npm/vue@3.4.35/dist/vue.global.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@3.6.14/dist/vuetify.min.js"></script>
    <script src="~/js/map.js"></script>
    <script type="module">
        const { createApp } = Vue
        const { createVuetify } = Vuetify
        const vuetify = createVuetify()

        const app = createApp({
            data() {
                return {
                    tab: 'search-result',
                    text: '',
                    list: [],
                    selectedList: JSON.parse(localStorage.getItem("traveler_selectedList"))
                }
            },
            methods: {
                async searching() {
                    this.list = await searchByText(this.text)
                    this.selectedList = this.list
                    this.text = null

                    localStorage.setItem('traveler_selectedList', JSON.stringify(this.list))
                },
                async onPlaceClicked(item) {
                    await setMarker(item)
                }
            }
        })
        app.use(vuetify).mount('#app')
    </script>
}